
      <%= form_for ([@user, @user_cat]), :html => { :multipart => true } do |f| %>
  <div class="row-fluid">
    <div>
      <div class=span10">
        <div class="head-container">
              <h4>Add Some Categories for Your Paintings</h4>
          
        </div>
      </div>
        <div class="span10">
          <div class="form-container">
                        <%= f.label :name, "Category Name" %></br>
                        <%= f.text_field :name, required: true %>
                        <%= f.label :description, "Description" %></br>
                        <%= f.text_area :description, rows: 5 %>
                      <%= f.submit "Create Category", id: "button1" %>
          </div>
        </div>
    </div>
  </div>
      <% end %>
