
<div style="text-align:center">
  <%= link_to 'Current News', blog_posts_path, :target => "_blank"  %>
</div>
<div class="rock">
<table>
  <% @blog_posts.each do |post| %>
    <tr class="<%= cycle('oddrow', 'evenrow') -%>">
      <td class="row-fluid">

        <div class="row-fluid">
          <div class="span7 blog-post-title">
            <%= link_to post.title, blog_post_path(post)%>
          </div>
          <div class="span3 offset2">
              <%= post.created_at%>
          </div>
        </div>
        <div class="row-fluid">
            <div class="span10">
              <%= post.body %>
            </div>
        </div>

        <% if post.image_url.present? %>
          <div class="row-fluid">
            <div class="span6">
              <div class="blog-image">
                <%= image_tag post.image_url(:small)%>
              </div>
            </div>
          </div>
        <% end %>

        <div class="row-fluid">
          <%= "Posted by: #{post.user.username}" %>
        </div>

        <% if is_admin? %>
          <div class="delete_link">
            <%= link_to "Delete", post, data: {confirm: "Are you sure you want to delete #{post.title }?", method: :delete } %>
          </div>
        <% end %>

      </td>
    </tr>
  <%end%>
</table>
</div>

