

<div style="color:red">
  <div style="text-align:center">
    <h1>
      BoneDiva
    </h1>
  </div>

    


 
  <div style="color:black">
    <div style="text-align:center">
      <%= link_to 'ACEO Web Page', "http://www.lisaluree.com" %>
    </div>
  </div>

</div>

  <% content_for :sidebar do %>
    <% if current_user.present? %>
      <div>
        Logged in a <%= current_user.username %> 
      </div>
    <% else %>
      <div> 
        <%= render :partial =>  "sessions/login" %>
      </div>
    <% end %>
  <% end %>



  <div id="mid_component">
    A list of all the users
    <br/>
    <div>
      <% @users.each do |u| %>
        <div style="text-align: center">
          <%= u.name %>
        </div>
      <% end %>
    </div>
    <%= yield :mid_component%>
  </div>

