<div style="color: #A00000">
  <div style="text-align:center">
    <h1>
      BoneDiva
    </h1>
  </div>
<%= form_tag products_path, :method => :get do %>
  <p>
  <div style="color:red">
    Search for a product by name.</br>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </div>
  </p>
<% end %>

  <div style="color:red">
    <div style="text-align:center">
      <%= link_to 'ACEO Web Page', "http://www.lisaluree.com", :target => "_blank"  %>
    </div>
  </div>

</div>
<div id="blog_post_box">
  <div id="blog_posts">
    <table>
      <% @blog_posts.each do |post| %>
          <tr class="<%= cycle('oddrow', 'evenrow') -%>">
            <td>
            <div id="blog_post">
              <div class="span12">
                <div class="blog_title">
                  <%= post.title%>
                </div>
              </div>
              <div id="blog_body">
                <div class="span12">
                  <%= post.body %>
                </div>
              </div>
           </div>
          </td>
        </tr>
     <%end%>
   </table>
  </div>
</div>


<div id="homeBox">
<h2>Great New Images!</h2>
</br>
<div class="row-fluid">
  <div class="displayHomeImg">
      <%= render partial: "products/display_products" %>
  </div>
</div>
    </br>
</div>

