<%= form_for @message do |f| %>
  <p>
    <%= f.label :title, "Subject" %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :body, "Message" %>
    <%= f.text_area :body, size: "4x10" %>
    </p>
    <p>
      <%= f.submit %>
    </p>

<% end %>
