<div id="mid_component">
<h4 style="text-align:center">Contact Lisa Luree</h4>
  <%= form_for @message do |f| %>

    <div class="message-form">
      <% if current_user %>
        <%= f.label :user_email, "Email" %>
      <%= f.email_field :user_email, placeholder: "#{@user.email}", readonly: true %> <%= link_to "Edit", edit_user_path(@user) %>
      <% else %>
        <%= f.label :user_email, "Email" %>
        <%= f.email_field :user_email %>
      <% end %>
      <p>
        <%= f.label :title, "Subject" %>
        <%= f.text_field :title, class: "row-fluid", placeholder: 'No Subject' %>
      </p>
      <p>
        <%= f.label :body, "Message" %>
        <%= f.text_area :body, size: "4x10", class: "row-fluid", placeholder: "Enter Message Here..." %>
      </p>
      <p>
        <%= f.submit %>
      </p>

    </div>
  <% end %>
</div>
