<div class="loginSidebar">
  Login
</div>
</br>
<%= form_tag sessions_path do %>
<div class="login_textfield">
  <%= label_tag :email %>
  <br/>
  <%= text_field_tag :email, nil, required: true %>
</div>

<div class="password_textfield">
  <%= label_tag :password %>
  <br/>
  <%= password_field_tag :password, nil, required: true %>
</div>
<div class="row-fluid">
  <div class="span6">
    <%= submit_tag "Log In", class: 'btn btn-primary', style: 'background:green' %>
  </div>
  <div class="span6">
    <a href="/auth/facebook"><%= image_tag "Facebook-logo-29.png" %> Log in</a>
  </div>
</div>
<% end %>
<% yield %>
