<div class="loginSidebar">
  Login
</div>
</br>
<%= form_tag sessions_path do %>
<div class="login_textfield">
  <%= label_tag :email %>
  <br/>
  <%= text_field_tag :email %>
</div>

<div class="password_textfield">
  <%= label_tag :password %>
  <br/>
  <%= password_field_tag :password %>
</div>
  <p class="button"><%= submit_tag "Log In" %>
<% end %>
<% yield %>
