        <%= form_for pc.prints.new do |pcf| %>
          <div class="row">
            <div class="span6">
              <%= pcf.label :price %>
              <%= pcf.text_field :price, class: "span12" %>
            </div>
            <div class="span6">
              <%= pcf.label :size %>
              <%= pcf.text_field :size, class: "span11" %>
            </div>
          </div>
        <% end %>

