<ul>
  <li>
    <% if @order_transaction.success == true %>
      <h3>A Purchase Has Been Made!!!</h3>
    <% else %>
      <h3> A Transaction has Failed!</h3>
    <% end %>
  </li>
  <li>
    Name: <%= @user.name %>
  </li>
  <li>
    Email: <%= @user.email %>
  </li>
        <li>
      Total:<%= number_to_currency @order.total_price %>
    </li>
    <li>
      <strong>Shipping Info:</strong>
    </li>
    <li>
      Street: <%= @order.address %>
    </li>
    <li>
      City: <%= @order.city %>
    </li>
    <li>
      State: <%= @order.state %>
    </li>
    <li>
      Zip: <%= @order.zip_code %>
    </li>
    <li>
      Order Placed At: <%= @order_transaction.created_at %>
    </li>
    <li>
      Transaction: <%= @order_transaction.message %>
    </li>
    <li>
      Product(s): <%= @product_names %>
    </li>
</ul>
