<h1>Listing bonediva_scaffolds</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bonediva_scaffolds.each do |bonediva_scaffold| %>
  <tr>
    <td><%= bonediva_scaffold.title %></td>
    <td><%= bonediva_scaffold.description %></td>
    <td><%= bonediva_scaffold.image %></td>
    <td><%= link_to 'Show', bonediva_scaffold %></td>
    <td><%= link_to 'Edit', edit_bonediva_scaffold_path(bonediva_scaffold) %></td>
    <td><%= link_to 'Destroy', bonediva_scaffold, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bonediva scaffold', new_bonediva_scaffold_path %>
