<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @bonediva_scaffold.title %>
</p>

<p>
  <b>Description:</b>
  <%= @bonediva_scaffold.description %>
</p>

<p>
  <b>Image:</b>
  <%= @bonediva_scaffold.image %>
</p>


<%= link_to 'Edit', edit_bonediva_scaffold_path(@bonediva_scaffold) %> |
<%= link_to 'Back', bonediva_scaffolds_path %>
