  <div id="mid_component">
    <div style="color:#9E2862">
      <div class="span10">
        <div class="form-header">
          <div class="span6">
            <div class="info">
              <h4>Information</h4>
            </div>
          </div>
          <div class="span6">
            <div class="upload">
              <h4> Upload painting</h4>
            </div>
          </div>
        </div>
      </div>
      <div>
      <%= form_for @painting, :html => {:multipart => true} do |f| %>
        <div class="row-fluid">
          <div class="span10">
            <div class="form-container">
              <div class="span6">
                <div class="left">
                  <%= f.hidden_field :paintable_type, value: "Category" %>
                  <%= f.label :title %><br />
                  <%= f.text_field :title, required: true %>
                  <p>
                    <%= f.label :description, "Description" %></br>
                    <%= f.text_field :description %>
                  </p>
                </div>
              </div>
              <div class="span6">
                <div class="right">
                  <p>
                  <%= f.file_field :image %>
                  </p>
                  <p>
                    <%= f.label :remote_image_url, "Upload from a url" %></br>
                    <%= f.text_field :remote_image_url %>
                  </p>
                  <p><%= collection_select(:painting, :paintable_id, @categories, :id, :name, options ={:prompt => "-Select a category"}, :class =>"category" ) %></p>
                  <% if is_admin? %>
                    ADMIN - Will this image display on the homepage?:
                    <%= f.check_box :home %>
                  <% end %>
                </div>
              </div>
                  <p><%= f.submit "Add Painting", id: "button1" %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    </div>
  </div>
