  <div id="second_component">
<div class="row-fluid">
  <div>
      <div class="span10">
        <div class="form-header">
          <div class="span6">
            <div class="info">
              <h4>Information</h4>
            </div>
          </div>
          <div class="span6">
            <div class="upload">
              <h4> Upload painting</h4>
            </div>
          </div>
        </div>
      </div>
      <%= form_for @painting, :html => {:multipart => true} do |f| %>
          <div class="span10">
            <div class="form-container">
              <div class="span6">
                <div class="left">
                  <%= f.label :title %><br />
                  <%= f.text_field :title, required: true %>
                  <p>
                    <%= f.label :description, "Description" %></br>
                    <%= f.text_area :description, rows: 5 %>
                  </p>
                </div>
              </div>
              <div class="span6">
                <div class="right">
                  <p>
                  <%= f.label :image, "Browse Files"%>
                  <%= f.file_field :image %>
                  </p>
                  <em>Or</em>
                  <p>
                    <%= f.label :remote_image_url, "Upload from a url" %></br>
                    <%= f.text_field :remote_image_url %>
                  </p>
                  <p><%= collection_select(:painting, :user_category_id, @user_cats, :id, :name, options ={:prompt => "-Select a category"}, :class =>"user_category" ) %></p>
                  <% if current_user.admin? %>
                    Lisa's Categories
                  <p><%= collection_select(:painting, :category_id, @categories, :id, :name, options ={:prompt => "Bonediva Category"}, :class =>"category" ) %></p>
                  <% end %>
                </div>
              </div>
                  <p><%= f.submit "Add Painting", id: "button1" %></p>
            </div>
          </div>
        <% end %>
    </div>   
  </div>
</div>
