<div style="color:red">
  <div style="text-align:center">
    <h1>
      Paintings Of All Users
    </h1>
  </div>
</div>

<div id="mid_component">
  <% @paintings.each do |p| %>
    <div id="painting-<%= p.id %>">
      Title: <%= p.title %>
      <div class="displayImg" >
        <%= link_to image_tag(p.image_url(:thumb)), painting_path(p) %>
      </div>
      Image Posted by: <%= link_to @user.username, user_path(@user) %>
      <div>
        <% if is_admin? %>
          <%= link_to 'Delete', p, data: {confirm: "Are you sure?", method: :delete, remote: true} %>
        <% end %>
      </div>
      </br>
      </br>
      </br>
    </div>
  <% end %>
<div>
  
