<div style="text-align:center">
  <div style="color:purple">
  <%= form_for @user do |f| %>
    <%= f.label :name, 'Name'%>
    <%= f.text_field :name, required: true %><br>
    <%= f.label :username, 'Username' %>
    <%= f.text_field :username, required: true %><br>
    <%= f.label :password, 'Password' %>
    <%= f.text_field :password, required: true %><br>
    <%= f.label :email, 'Email Address'%>
    <%= f.text_field :email, required: true %><br>
    <%= f.label :age, 'Age (optional)'%>
    <%= f.text_field :age %><br>
    <%= f.submit %>
  <% end %>
  </div>
</div>
<% yield %>
