<div style="text-align:center">
  <div style="color:red">
    <h2> Welcome <%= current_user.username %></h2>
  </div>
</div>

<%= content_for :sidebar do %>
  
<% end%>

<div style="color:#808080">
  <div style="text-align:left">
    <h4>Info</h4>
    <h2><p>Email: <%= @user.email %></p>
      <p>Name: <%= @user.name %></p>
      <p>Username: <%= @user.username %></p>
      <p>Age: <%= @user.age %>
      <% if @user.user_link != nil %>
        <p>website: <%= link_to @user.user_link, "http://" + @user.user_link %>
      <% else %>
        <p>website: <%= link_to @user.name, user_path %>
      <% end %>
    </h2>
     <%= link_to "Edit User Info", edit_user_path(@user) %>
 </div>
</div>


<div id="mid_component">
  <div style="display:inline">
      <span>
    <% @paintings.each do |p| %>
         <p>
        <div>
          <%= p.title %>
        </div>
        <div>
          <%= link_to (image_tag p.image_url(:thumb).to_s), painting_path(p) %>
        </div>
        </p>
   <% end %>
      </span>
    </div>
 </div>

    
