<div style="text-align:center">
  <div style="color:red">
    <h2> <%= " Welcome To #{@user.username.pluralize} Gallery" %></h2>
  </div>
</div>

<%= content_for :sidebar do %>
  
<% end%>

<div style="color:#808080">
  <div style="text-align:left">
    <h4>Info</h4>
    <h2><p>Email: <%= @user.email %></p>
      <p>Name: <%= @user.name %></p>
      <p>Username: <%= @user.username %></p>
      <p>Age: <%= number_to_human @user.age %>
      <% if @user.user_link != nil %>
        <p> <%= link_to @user.user_link, "'Website:' http://" + @user.user_link %>
      <% else %>
        <p>website: <%= link_to @user.name, user_path %>
      <% end %>
    </h2>
     <%= link_to "Edit User Info", edit_user_path(@user) %>
 </div>
</div>
<div>
  <% @user_cats.each do |u| %>
    <div style="text-align:center">
      <div class="user-cat-link">
        <div class="span12">
          <h4>
            <%= link_to u.name, user_user_category_path(@user, u) %>
          </h4>
        </div>
      </div>
    </div>
    <div class="categories">
      <div class="span12">
      </div>
      <div class="category_container">
        <div class="row-fluid">
          <div class="span12">
            <% u.paintings.each do |paint| %>
              <div class="paintings">
                <div class="span3">
                  <div class="painting_container">
                    <div class="paint-title">
                      <div class="span12">
                        <%= paint.title %>
                      </div>
                    </div>
                    <div class="paint-image">
                      <div class="span10">
                        <div class="painting">
                          <%= link_to (image_tag paint.image_url(:thumb)), painting_path(paint) %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
 
<div class="category_container">
  <div class="row-fluid">
    <div class="span12">
      <% @paintings.each do |p| %>
        <div class="paintings">
          <div class="span3">
            <div class="painting_container">
              <div class="paint-title">
                <div class="span12">
                  <%= p.title %>
                </div>
              </div>
              <div class="paint-image">
                <div class="span10">
                  <div class="painting">
                    <%= link_to (image_tag p.image_url(:thumb)), painting_path(p) %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

