<div style="text-align:center">
  <div style="color:red">
    <h2> Welcome <%= @user.username %></h2>
  </div>
</div>

<%= content_for :sidebar do %>
  <div id="sidebar">
    <div style="color:red">
    </div>
  </div>
<% end%>

<div style="color:#808080">
  <div style="text-align:center">
    <h4>Info</h4>
    <% @user.attributes.each do |attr_name, attr_value| %>
      <%= attr_name %> --- <%= attr_value %></br>
    <% end %>
     <%= link_to "Edit User Info", edit_user_path(@user) %>
 </div>
</div>


 <div id="mid_component">
   <% @paintings.each do |p| %>
     <div>
       <p>
      <div>
        <%= p.title %>
      </div>
      <div>
        <%= link_to (image_tag p.image_url(:thumb)), painting_path(p) %>
      </div>
      <div>
        <%= p.description %>
      </div>
      </p>
    </div>
  <% end %>
 </div>

    
