<% @cart_items.each do |item| %>
  <div class="row-fluid">
    <h3>
     <div class="span3"><%= item.name %></div>
     <div class="span3"><%= number_to_currency item.price %></div>
     <div class="span3"><%= button_to "Remove", @cart_item, data: { confirm: "Do you want to remove this item?", method: :delete, remote: true } %></div>
   </h3>
  </div>
<%end%>
<h1>
  <div>
    <div class="span4">Items:</div>
    <div class="span5"><%= "#{@cart_items.count} Items"%>
  </div>
  <div>
    <div class="span4">Total:</div>
    <div class="span6"><%= number_to_currency @price %></div>
  </div>
</h1>
