<div class="row-fluid">
  <div id="list-box">
    <h4>
    <div class="span12">
      <div id="list">
        <div class="span3">Name:</div>
        <div class="span3">price:</div>
        <div class="span3">Image:</div>
      </div>
    </div>
  </h4>
  </div>
  <% @cart_items.each do |item| %>
      <div id="cart-items">
        <div class="span12">
          <div class="cart-item">

        <div id="cart-item-name">
          <div class="span4"><%= item.name %></div>
        </div>

        <div id="cart-item-price">
          <div class="span2"><%= number_to_currency item.price %></div>
        </div>

        <div class="span3">
          <div id="cart-item-painting">
            <div class="span8">
              <div id="thumbnails">
                <div class="thumbnail">
                  <%= image_tag item.product.main_image(:thumb) %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="cart-item-button">
          <div class"span2">  <%= button_to 'remove', user_cart_cart_item_path(current_user, @cart, item), data: { confirm: "Do you want to delete #{item.name}?", method: :delete, remote: true } %></div>
        </div>

        </div>
      </div>
    </div>
  <% end %>
  <div class="span12">
    <div id="checkout-list">
      <h3>
        <div class="span3">Total:</div>
        <div class="span3"><%= number_to_currency @total_price %></div>
        <div class="span3"><%= link_to "Checkout", new_user_cart_order_path(current_user, current_user.carts.last) %></div>
      </h3>
    </div>
  </div>
</div>

