<h3>
  <div style="color:red">
    <div class="row-fluid">
<div class="span4">Name</div>
<div class="span5">price</div>
</div>
</div>
</h3>
  <% @cart_items.each do |item| %>
      <h3>
        <div class="row-fluid">
          <div class="span4"><%= item.name %></div>
          <div class="span4"><%= number_to_currency item.price %></div>
          <div class"span1">  <%= button_to 'remove', @cart_item, data: { confirm: "Do you want to delete #{item.name}?", method: :delete, remote: true } %></div>
        </div>
      </h3>
  <% end %>
  <div>
    <h3>
      <div class="span4">Total:</div>
      <div class="span5"><%= number_to_currency @price %></div></br>
    </h3>
  </div>
  <div>
    <h4>
      <div class="span9"><%= link_to "Checkout", new_user_cart_order_path(current_user, current_user.carts.last) %></div>
    </h4>
  </div>
