<div>
  <%= form_for @picture, :html => { :multipart => true } do |f|%>
    <%= f.label :title, "Title"%>
    <%= f.text_field :title%></br>
    <%= f.label :description, "Description" %>
    <%= f.text_field :description %>
      <%#= f.label :image, "Image" %>
      <%= f.file_field :image %></br>
      <div>
        <%= f.submit %>
      </div>
    <% end %>
</div>



