<div style='color: black;'>
  <h1>
    This is the New Picture page
  </h1>
  <%= yield %>
</div>

<div>
  <%= fields_for @picture, :html => { :multipart => true } do |f|%>
    <%= f.label :title, "Title"%>
    <%= f.text_field :title %></br>
    <%= f.label :description, "Description" %>
    <%= f.text_field :description %>
    <div>
      <%= f.label :image, "Image" %>
    <%= f.file_field :image %>
    <%= f.submit %>
  </div>
  <% end %>

</div>
