<%= form_for @avatar, html: { multipart: true } do |f| %>
  <%= f.hidden_field, :name, value: @user.name %>
  <p><%= f.label :image, "Avatar Uploader" %></br>
  <%= f.file_field :image %></p>
  <%= f.label :remote_image_url, "Avatar from url" %></br>
  <%= f.text_field :remote_image_url %>
  <%= f.submit %>

<%end%>
