
<h1>Category/show</h1>
<div id="mid_component">
  <%= @category.name %></br>
  <%= @category.description %>
  <div>
    <% @paintings.each do |p| %>
        <p><%= image_tag p.image_url(:standard) %></br>
        <%= link_to "Check out: #{p.title}", product_path(p) %></p>
      <%= link_to "Add as featured", method: :update_featured_painting %> 
    <% end %>
  </div>
</div>


