<!--  <div class="cat-search">
    <div class="span4 offset2">
      <div id="cat2">
        <%= link_to "Search by Category", '#', class: "h-head" %>
      </div>
      <div>
        <%= render partial: "categories/search_drop_down"%>
      </div>
    </div>
    <div class="span2">
      <h3>Or</h3>
    </div>
    <div class="span4">
      <div class="prod_search">
        <%= render partial: "products/products_search"%>
      </div>
    </div>
  </div> -->


<div class="row">
  <h2 class="span6 offset4 h-head">Lisa Luree's '<%= @category.name %>' collection</h2>
</div>
<div class="row">
  <h5 class="span10 offset2 cat-description"><%= @category.description if @category.description %></h5>
</div>
  <div class="span12">
    <div class="mid_component">
      <% if @products.present?%>
        <%= render partial: "products/display_products" %>
      <% else %>
        Sorry, there are no products here.
      <% end %>
    </div>
  </div>

