
<div class="row-fluid">
  <h3>
    <div class="span3"><%= @category.name %></div>
    <div class="span5"><%= @category.description %></div>
  </h3>
</div>
<div class="row-fluid">
  <h4>
    <div>Categories:</div>
  </h4>
    <% @categories.each do |cat| %>
      <div class="span1"><%= link_to "> #{cat.name }", category_path(cat) %></div>
    <% end %>
</div>
<div id="mid_component">
  <div class="row-fluid">
    <% @products.each do |product| %>
      <div>
        <div class="span4">
          <div id="painting-display">
            <div class="span6">
              <%=  link_to (image_tag (product.main_image(:thumb))), product_path(product) %></br>
            </div>
            <div id="description">
              <div id="name">
                <div class="span3">Name:</div>
                <div class="span3"> <%= product.name%></div>
              </div>
              <div id="price">
                <div class="span3">Price:</div>
                <div clas="span3"><%= number_to_currency product.price %></div>
              </div>
            </div>
        
            <div>
              <%= button_to "Add To Cart", add_cart_item_path(current_user, current_user.carts.last, product) %>
              <% if product.paintings.any? %>
                <% if is_admin? %>
                  <%= link_to "Add as featured", category_path(@category, category: { featured_painting_id: product.paintings.first.id}), data: { method: :put } %>
                <% end %>
              <% end %>
            </div>
            <div id="description">
              <div class="span10">
                <%="Description: #{product.description}" %></br>
              </div>
            </div>
          </div>
        </div>
      </div> 
    <% end %>
  </div>
</div>
-------
  <div>
    <div>
      <% @paintings.each do |paint| %>
        <p>
        <%= link_to (image_tag paint.image_url(:standard)), painting_path(paint) %></br>
        <%= link_to "View this painting: #{paint.title}", painting_path(paint) %></br>
        <%#= button_to "Add as featured", update_featured_painting_path(@category, paint)  %>
        <%= link_to "Add as featured", category_path(@category, category: { featured_painting_id: paint.id}), data: { method: :put } %>
        </p>
      <% end%>
    </div>
  </div>


