
<h1>Category/show</h1>
<div id="mid_component">
  <%= @category.name %></br>
  <%= @category.description %>
  <div>
    <% @products.each do |product| %>
      <% product.paintings.each do |painting| %>
      <p>
      <%= image_tag product.main_image(:standard) %></br>
    <% end %>
         <%= link_to "View this Product: #{product.name}", product_path(product) %>
      </p>
    <% end %>
  </div>
-------
  <div>
    <div>
      <% @paintings.each do |paint| %>
        <p>
        <%= image_tag paint.image_url(:standard) %></br>
        <%= link_to "View this painting: #{paint.title}", painting_path(paint) %></br>
        <%= button_to "Add as featured", update_featured_painting_path( paint )  %>
        </p>
      <% end%>
    </div>
  </div>
</div>


