
<h1>Category/show</h1>
<div id="mid_component">
  <%= @category.name %></br>
  <%= @category.description %>
  <div>
    <% @category.products.each do |p| %>
      <% p.paintings.each do |x| %>
        <p><%= image_tag x.image_url(:standard) %></br>
        <%= link_to "Check out: #{p.name}", product_path(p) %></p>
      <%= link_to "Add as featured", method: :update_featured_painting %> 
      <% end %>
    <% end %>
  </div>
</div>
