<%= @product.errors.full_messages if @product.errors.present? %>
<div class="mid_component">
  <div class='row-fluid'>
    <div class="span6">
      <%= form_for @product, :html => {:multipart => true } do |f| %>
        <p><%= f.label :name, 'Name' %></br>
          <%= f.text_field :name, required: true %></p>
          <p><%= f.label :description, 'Description' %></br>
            <%= f.text_area :description, rows: 5, cols: 5 %></p>
            <p><%= f.label :price, 'Price' %></br>
          <%= f.text_field :price, required: true %></p>
          <p><%= f.label :size, "Size" %></br>
          <%= f.text_field :size, required: true %></p>
          <%= fields_for :painting do |p| %>
            <p><%= p.label :image, "Add a Painting" %></br>
            <%= p.file_field :image %></p>
            <%= p.text_field :remote_image_url %></p>
            <%= p.hidden_field :primary_painting, value: true %>
            <p><%#= options_from_collection_for_select(@categories, :id, :name) %></p>
          <% end %>
            <div class="row-fluid">
          <% @categories.to_a.each do |x| %>
              <div class="span1">
                <input id="categories" name="categories[category_id][]" type="checkbox" value="<%= x.id%>" />
              </div>
              <div class="span3 float:left">
                <label for="categories"><%= x.name %></label>
              </div>
          <% end%>
            </div>
        <p>
        Is this an ACEO?
        <%= f.check_box :aceo %></br>
        <div>
          <%= f.submit "Create Product", id: "button1" %>
        </div>
        </p>
      <% end %>
    </div>
    <div class="span6">
      <p><h5>Why dont you take a look at the dogs while you upload some products! -love you</h5></p>
      <%= image_tag 'lipso.jpg'%>
    </div>
  </div>
</div>

