<div id="mid_component">
<%= form_for @product do |f| %>
  <p><%= f.label :name, 'Name' %></br>
    <%= f.text_field :name, required: true %></p>
    <p><%= f.label :description, 'Description' %></br>
      <%= f.text_field :description %></p>
      <p><%= f.label :price, 'Price' %></br>
    <%= f.text_field :price, required: true %></p>
    <p><%= f.label :size, "Size" %></br>
  <%= f.text_field :size, required: true %></p>
  <p><%= f.submit %></p>
<% end %>
</div>
