
<div id="form">
  <div class="row-fluid">
    <div class="span12">
      <div id="errors">
        <div class=span12">
          <%= @product.errors.full_messages if @product.errors.present? %>
        </div>
      </div>
    </div>
    <div class="span12">
      <div id="form-info">
        <%= form_for @product, :html => {:multipart => true } do |f| %>
          <div class="span6">
            <div id="left-side">
              <div id="name">
                <div class="span6"><%= f.label :name, 'Name' %></div>
                <div class="span6"><%= f.text_field :name, required: true %></div>
              </div>
              <div id="description">
                <div class="span6"><%= f.label :description, 'Description' %></div>
                <div class="span6"><%= f.text_area :description, rows: 5, cols: 5 %></div>
              </div>
            </div>
          </div>
          <div class="span6">
            <div id="right-side">
              <div id="price">
                <div class="span6"><%= f.label :price, 'Price' %></div>
                <div class="span6"><%= f.text_field :price, required: true %></div>
              </div>
              <div id="size">
                <div class="span6"><%= f.label :size, "Size" %></div>
                <div class="span6"><%= f.text_field :size, required: true %></div>
              </div>
            </div>
            <div>
              <div class="row-fluid">
                <% @categories.to_a.each do |x| %>
                  <div class="span1">
                    <input id="categories" name="categories[category_id][]" type="checkbox" value="<%= x.id%>" <%= x.id.in?(@pcats.map{|e| e.id}) ? "checked" : "" %> />
                  </div>
                  <div class="span3">
                    <label for="categories"><%= x.name %></label>
                  </div>
                <% end%>
              </div>
            </div>
          </div>
          <div class="span12">
            <div id="button"> 
              <div class="span6"><%= f.submit "Update Product", id: "button1" %></div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
