<% content_for :met_description do %>
  <meta name="description" content="<%= product.name %> by Lisa Luree. <%= product.description %> ">
<% end %>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=161006087321169&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div style="text-align:center"><h2><%= product.name %></h2></div>

<div class="mid_component">
  <div class="row-fluid">
    <div id="main-display">

      <div class="span6">
        <div class="main-painting">
          <%= link_to (image_tag product.main_image(:home), alt: "'#{product.name}' by Lisa Luree", title: "'#{product.name}' by Lisa Luree"), painting_path(product.paintings.first.id) if product.main_image(:home).present? %>
        </div>
        <div class="row-fluid th">
          <% product.paintings.each do |p| %>
            <% if p.errors.any?%>
              <%= p.errors.full_message %>
            <% end %>
            <div class="span4">
              <ul class="thumbnails">
                <div class="thumbnail-<%= p.id %>">
                  <%= link_to (image_tag p.image_url(:standard).to_s), painting_path(p), method: :get, remote: true %></br>
                  <%= link_to 'Edit', edit_product_path(product) if current_user.present? && current_user.admin == true %>
                </div>
              </ul>
            </div>
          <% end %>
        </div>
      </div>

      <div class="rcontainer">
        <div class="span6">
          <div class="prod-info">
            <h4>
              <div class="span12">
                <div class="info">
                  <div id="name">
                    <div class="span6">Name:</div>
                    <div class="span6"><%= product.name %></div>
                  </div>
                  <div id="price">
                    <div class="span6">Price:</div>
                    <div class="span6"><%= number_to_currency product.price %></div>
                  </div>
                  <div id="size">
                    <div class="span6">Size:</div>
                    <div class="span6"><%= product.size %></div>
                  </div>
                  <div id="category">
                    <div class="span6">Category:</div>
                    <div class="span6"><%= link_to product.category.name, category_path(product.category) %></div>
                  </div>
                  <div id="description">
                    <div>
                      <div class="span12">Description:</div>
                      <div class="span12"><%= product.description %></div>
                    </div>
                  </div>
                  <legend>
                  <div id="user-posted">
                    <div class="span6">Posted By:</div>
                    <div class="span6"><%= link_to "#{product.user.name}", user_path(product.user)%></div>
                  </div>
                </div>
              </div>
            </h4>
          </div>

    <div class="span12">
      <div id=" admin-function">
        <% if is_admin? && product.user_id = current_user.id %>
          <h4>admin functions-------></h4>
          <div class="row-fluid">
            <div class="sold span6">
              <% if product.class.to_s == "Product" %>
                <%= button_to "Update to Sold", sell_product_path(product), id: "button1", confirm: "Are you sure? This product will be lost." %>
              <% elsif product.class.to_s == "SoldProduct" %>
                <%= button_to "Revert to Product", revert_to_product_path(product), id: "button1", confirm: "Are you sure? This will become a for sale product." %>
              <% end %>
            </div>
            <div class="span6"><%= button_to 'Add painting', add_product_painting_path(product), id: "button1"%></div>
          </div>
          <div class="row-fluid">
            <div class="span6"><%= button_to 'Delete', product, id: "button1", confirm: "Are you sure? This product will be lost." %></div>
            <div class="span6"> <%= button_to 'Edit', edit_product_path(product), id: "button1", method: :get%></div>
          </div>
          <h4><-------------</h4>
        <% end %>
        <div class="span12">
          <div id="cart-button">
            <% if product.class.name == "Product" %>
                <div class="row-fluid">
                  <div class="span6">
                      <div class="fb-share-button" data-href="http://www.bone-diva.com/products/<%= product.id %>" data-type="button_count"></div>
                  </div>
                </div>
              <%if current_user.present? %>
                <div class="row-fluid">
                  <div class="span6">
                    <%= button_to "Add To Cart", add_cart_item_path(@user, @cart, product), id: "button1"  %>
                  </div>
                </div>
              <%else%>
                <strong>Please, log in to add this to a shopping cart.</strong>
              <% end %>
            <% else %>
              <div class="span6">
                <div class="fb-share-button" data-href="http://www.bone-diva.com/sold_products/<%= product.id %>" data-type="button_count"></div>
              </div>
              <strong>Sold-</strong><%= product.created_at.strftime("%m/%d/%Y") %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

        </div>
      </div> 
    </div>

        <% if current_user.present? && current_user.email == "bonediva@gmail.com"%>
          <div id="eby-url">
            <div class="span12"><div style="text-align:center"><h4>Ebay Url</h4></div></div>
            <div class="span12"><%=raw product.main_image(:home )%></div>
          </div>
        <% end %>

 
  </div>

  </div>
