<h3> Current Info </h3>
<div id="edit-page">
  <div id="name">
    <div>Name:</div>
    <div><%= @product.name %></div>
  </div>
  <div id="description">
    <div>Description:</div>
    <div><%= @product.description %></div>
  </div>
  <div id="price">
    <div>Price:</div>
    <div><%= @product.price %></div>
  </div>
  <div id="size">
    <div>Size:</div>
    <div><%= @product.size %></div>
  </div>

  <div id="painting-holder">
    <% @paintings.each do |p| %>
        <div id="paintings">
          <div class="thumbnails">
            <div class="thumbnail"> 
              <%= link_to (image_tag p.image_url(:thumb)) %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div id="edit-form">
    <%= render :partial => "products/product_form" %>
  </div>

  <div id="add_painting_form">
    <h5 id="head-description">
      (Upload Another Painting To You're Product)
    </h5>
    <div id="paint-form">
      <%= render partial: "paintings/add_painting_form" %>
    </div>
  </div>

  <%= render 'print_categories/pc_form' %>
  <%#= render 'print_categories/print_select' %>


