<div>
  <h1>Products/show</h1>
</div>

<div id="mid_component">
  <div style="text-align:center">
    <p><h2><u>Product Name</u> </h2>
    <h3>  <%= @product.name %></h3></p>
    <p><h2><u> Product Description</u> </h2>
    <h3><%= @product.description %></h3></p>
    <p><h2><u> Size</u> </h2>
    <h3><%= @product.size %></h3></p>
    <p><h2><u> Price</u> </h2>
    <h3><%= @product.price %></h3></p>
  <% if @product.category.present? %>
    <p><h2><u> Category </u> </h2>
    <h3><%= @product.category.name %></h3></p>
  <% end %>
  </div>
</div>
<div id="mid_component">
  <div style="text-align:center">
    <% @product.paintings.each do |p| %>
      <% if p.errors.any?%>
        <%= p.errors.full_message %>
      <% end %> 
      <p><%= link_to (image_tag p.image_url(:standard).to_s), painting_path(p) %></br>
      <%= p.description %></p>
    <% end %>
  </div>
</div>
