<div style="text-align:center"><h2><%= @product.name %></h2></div>

<div id="mid_component">
  <div class="row-fluid">
    <div id="main-display">
      <div class="span6">
        <div class="main-painting">
          <%= image_tag @product.main_image(:large) %>
        </div>
      </div>
      <div class="rcontainer">
        <div class="span6">
          <div class="prod-info">
            <h4>
              <div class="span12">
                <div class="info">
                  <div id="name">
                    <div class="span6">Name:</div>
                    <div class="span6"><%= @product.name %></div>
                  </div>
                  <div id="price">
                    <div class="span6">Price:</div>
                    <div class="span6"><%= number_to_currency @product.price %></div>
                  </div>
                  <div id="size">
                    <div class="span6">Size:</div>
                    <div class="span6"><%= @product.size %></div>
                  </div>
                  <div id="category">
                    <div class="span6">Category:</div>
                    <div class="span6"><%= link_to @product.category.name, category_path(@product.category) %></div>
                  </div>
                  <div id="description">
                    <div>
                      <div class="span6">Description:</div>
                      <div class="span6"><%= @product.description %></div>
                    </div>
                  </div>
                </div>
              </div>
            </h4>
          </div>
        </div>
      </div> 
    </div>
    <div class="span12">
      <div id=" admin-function">
        <% if is_admin? && @product.user_id = current_user.id %>
          <div class="span12">
            <div class="sold">
              <%= link_to "Update to Sold", sold_product_path(@product), id: "button1"%>
            </div>
          </div>
            <div class="span3"><%= button_to 'Add painting', add_product_painting_path(@product), id: "button1"%></div>
            <div class="span3"><%= button_to 'Delete', @product, id: "button1" %></div>
          <h4 style="color:grey">
            <div class="span3"><a class="btn", <%= link_to 'Edit', edit_product_path(@product), id: "button1"%></a></div>
          </h4>
        <% end %>
        <div id="cart-button">
          <div class="span3">
            <%if current_user.present?%>
              <%= button_to "Add To Cart", add_cart_item_path(@user, @cart, @product), id: "button1"  %>
            <%else%>
              <%= "(Log in, to add to you're cart)" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
      </div>
      <% @product.paintings.each do |p| %>
        <% if p.errors.any?%>
          <%= p.errors.full_message %>
        <% end %>
        <div class="span4">
          <ul class="thumbnails">
            <div class="thumbnail">
              <%= p.title %>
              <%= link_to (image_tag p.image_url(:standard).to_s), painting_path(p) %></br>
              <%= truncate(p.description, length: 35) %></br>
              <%= link_to 'Edit', edit_product_path(@product) %>
            </div>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
