  <div class="print-category">
    <div class="row-fluid">
      <% ["Gicle", "Photo"].each do |x| %>
        <div class="span6">
          <div class="dta-container" id="dta-#{x}", data-pc="<%= x %>", data-prod="<%= @product.id %>">
            <div class="row-fluid">
              <div class="span6">
                <div class="<%= x %>" >
                  <%= check_box_tag :pc_type, x, false, id: "pc-click-#{x}", class: 'pc-click' %>
                  <%= x %>
                </div>
              </div>
            </div>
          </div>
          <div class="row-fluid">
            <div class="print-form" id="print-form-<%= x %>">
              <div class="pc-price">
                <%=f.label :print_price %>
                <%=f.text_field :print_price %>
              </div>
              <div class="pc-size">
                <%=f.label :print_size %>
                <%=f.text_field :print_size %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
