  <div class="print-category">
    <div class="row-fluid">
      <% ["Gicle", "Photo"].each do |x| %>
        <div class="span6">
          <div class="dta-container" id="dta-#{x}", data-pc="<%= x %>", data-prod="<%= @product.id %>">
            <div class="row-fluid">
              <div class="span6">
                <div class="<%= x %>" >
                  <%= check_box_tag :print_type, x, false, id: "pc-click-#{x}", class: 'pc-click', product: @product.id %>
                  <%= x %>
                </div>
              </div>
            </div>
          </div>
          <div class="row-fluid">
            <div class="print-form" id="print-form-<%= x %>">
              <%= render 'print_categories/pc_form'%>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
