<div class="row-fluid">
  <% @print_categories.each do |pc| %>
    <div class="span6">
      <div style="color:red">
        <div class="row">
          <div class="span4 offset4">
            <%= check_box_tag pc.id, pc.id %>
            <%= h pc.name %>
            <!-- <input id="print_categories" name=<%= pc.name %> type="checkbox" value="<%= pc.id%>" /> -->
          </div>
        </div>
        <div id="pc-hide-box">
          <%= render "prints/print_form", pc: pc %>
        </div>
      </div>
    </div>
  <% end %> 
</div>

