<!DOCTYPE html>
<html>
  <head>
    <title>Bonediva</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
  </head>
  <body>

      <div id="top_bar">
        <p class="left">
          <a href="/">Home</a>
        </p>
        <p id="top-bar-actions">
          <% if !current_user.present? %>
            <p class="right">
              <a href="/sessions/new">Log_in</a>
              <a href="/users/new">Signup</a>
            </p>
          <% else %>
            <p class="left">
              <a href="/users/">User List</a>
              <a href="/paintings/new/">Add a Painting</a>
              <a href="/paintings/">All Paintings</a>
              <a href="/categories/">Categories</a>
            </p>

            <p class="right">
              <a href="/log_out">Sign Out</a>
            </p>
          <% end %>
        </p>
      </div><!--end #top_bar-->

      <%=image_tag("top_image.jpg", :alt => "rss feed", :class => "top_image")  %>

    <div style="color:red"> 
      <div style="text-align:center" > 
        <%= yield :header %>
      </div>
    </div>

    <% flash.each do |name, message| %>
      <div id="flash_<%= name %>">
        <%= message %>
      </div>
    <% end if !flash.blank? %>


  <div>
    <% if !@hide_sidebar %>
      <div id="sidebar">
        <% if current_user.present? %>
          <div style="float:right;">
            Logout
          </div>
          </br>
          <div class="row-fluid">
            <div class="img-with-text">
              <%=image_tag current_user.avatar{ |a| a.image_url(:thumb)}  %>
              <%= link_to current_user.name, current_user_path %>
          </div>
          <%#= link_to image_tag("default_pic.jpg") + current_user.username, user_path(@user), :class => "avatar_img", :remote => true %>
          <br/>
        <% else %>
          <%= render :partial =>  "sessions/login" %>
        <% end %>
        <%if is_admin? %>
          <div class="span3"><%= link_to "Add a Product", new_product_path %></div>
          <div class="span4"><%= link_to "#{@user.name.pluralize}' Products", products_path %></div>
          <div class="span3"><%= link_to "Add a Category", new_category_path %></div>
        <% end %>
</div>
        <%= yield :sidebar %>
      </div>
    <% end %>
 </div>

  <div>
    <%= yield %>
  </div>

  <div id="user_nav">
    <% if current_user.present? %>
        Logged in as <%= current_user.email %>
        <br/>
      <%= link_to "log_out", log_out_path %>
    <% else %>
      <%= link_to "Sign_up", new_user_path %>
      <%= link_to "log_in", log_in_path %>
    <% end %>
  </div>



  </body>
</html>
