<!DOCTYPE html>
<html>
  <head>
    <title>Lisa Luree Art Including Bonediva ACEO's</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield :head %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
  </head>
  <body>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=161006087321169&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    
    <div id="top_bar">
      <p class="left">
        <a href="/">Home</a>
        <%= content_tag "a#acs", id: "acs"  do %>
          <a href="#">ACEO's</a>
        <% end%>
        <a href="/products">Products</a>
        <a href="/paintings/">All Paintings</a>
        <%= content_tag "a#cat", id: "cat", data:{ url: categories_url }  do %>
          <a href="#">Categories</a>
        <% end %>
        <a href="/about">About Lisa</a>
      </p>
      <p id="top-bar-actions">
        <% if !current_user.present? %>
          <p class="right">
            <a href="/messages/new" class="icon-pencil">Contact</a>
            <a href="/users/new">Signup</a>
            <a href="/sessions/new">Log_in</a>
            <a href="/auth/facebook">Log in With<%= image_tag "Facebook-logo-29.png" %></a>
          </p>
        <% else %>
          <p class="right">
             <a href="/messages/new" class="icon-pencil"> Contact</a>
             <a href="/log_out">Sign Out</a>
          </p>
        <% end %>
        </p>
    </div><!--end #top_bar-->
        <div class="the-drop">
          <%= render partial: "categories/drop_down"%>
        </div>
        <div class="aceo">
          <%= render partial: "layouts/aceo_link"%>
        </div>
    <%=image_tag("top_image2.jpg", :alt => "rss feed", :class => "top_image")  %>
    <div style="color:red"> 
      <div style="text-align:center" > 
          <%= yield :header %>
      </div>
    </div>
    <% flash.each do |name, message| %>
      <div id="flash_<%= name %>">
        <%= message %>
      </div>
    <% end if !flash.blank? %>
    <div class="container-fluid"> 
      <div class="row-fluid">
        <div class="span10">
          <div class="main">
            <%= yield %>
          </div>
        </div>
        <% if !@hide_sidebar %>
          <div class="span2">
            <div id="side">
              <%= render partial: "layouts/sidebar" %>
              <%= yield :sidebar %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
      <div id="user_nav">
        <% if current_user.present? %>
          <div class="span10">Logged in as <%= current_user.email %></div>
          <div class="span10"><%= link_to "log_out", log_out_path %></div>
        <% else %>
          <div class="span10"><%= link_to "Sign_up", new_user_path %></div>
          <div class="span10"><%= link_to "log_in", log_in_path %></div>
        <% end %>
      </div>
  </body>
</html>
