<!DOCTYPE html>
<html>
  <head>
    <title>Lisa Luree Art Including Bonediva ACEO's, Dia De los Muertos(Day of the Dead), surreal artwork.</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <meta name=”description” content="Lisa Luree is an award winning and world renowned artist.
    Her art has been featured in The Westword, Antiques and Collecting Magazine, and 'Big Eye Art: Resurrected and Transformed'. 
    Lisa is well known in the online art community as the 'Godmother' of ACEO 'Art Cards Editions and Originals' - for having founded the ACEO  art movement.  
    She was given the prestigious 'Hall of Fame Award' by eBay for the conception of ACEO.
    Lisa specializes in Dia De los Muertos (Day of the Dead) and surreal artwork.  Her skeletons are happy colorful reminders of the joy found in living. 
    Commissions are always welcome and collectors often request memorial pieces in memory of beloved pets.
    As a native Denver artist, Lisa's work can be found in art venues around the city of Denver, and Colorado."/>

    <meta name="keywords" content="Lisa Luree, Artwork, Paintings, Day of the Dead,
    Dia De los Muertos, Surreal, Denver artwork, Colorado artists, Watercolor, Ink, Oil paints, commission painting, Artwork commission">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-59137809-1', 'auto');
  ga('send', 'pageview');

</script>
    <%= yield :head %>
  </head>
  <body>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=161006087321169&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    
  <%= render "layouts/navbar" %>
 <!--   <div id="top_bar">
      <p class="left">
        <a href="/">Home</a>
        <%= content_tag "a#acs", id: "acs"  do %>
          <a href="#">ACEO's</a>
        <% end%>
        <a href="/products">Lisa's Paintings</a>
        <a href="/paintings/">All Paintings</a>
        <%= content_tag "a#cat", id: "cat", data:{ url: categories_url }  do %>
          <a href="#">Categories</a>
        <% end %>
        <a href="/about">About Lisa</a>
      </p>
      <p id="top-bar-actions">
        <% if !current_user.present? %>
          <p class="right">
            <a href="/messages/new" class="icon-pencil">Contact Lisa Luree</a>
            <a href="/users/new">Signup</a>
            <a href="/sessions/new">Log_in</a>
            <a href="/auth/facebook">Log in With<%= image_tag "Facebook-logo-29.png" %></a>
          </p>
        <% else %>
          <p class="right">
             <a href="/messages/new" class="icon-pencil"> Contact</a>
             <a href="/log_out">Sign Out</a>
          </p>
        <% end %>
        </p>

    </div>
   --> 
<!--end #top_bar-->
    
        <div class="the-drop">
          <%= render partial: "categories/drop_down"%>
        </div>
        <div class="aceo">
          <%= render partial: "layouts/aceo_link"%>
        </div>
    <%=image_tag("top_image2.jpg", :alt => "rss feed", :class => "top_image")  %>
    <div style="color:red"> 
      <div style="text-align:center" > 
          <%= yield :header %>
      </div>
    </div>
    <% flash.each do |name, message| %>
      <div id="flash_<%= name %>">
        <%= message %>
      </div>
    <% end if !flash.blank? %>

    <div class="container"> 
      <div class="row-fluid">
        <div class="span9">
          <div class="main">
            <%= yield %>
          </div>
        </div>
        <% if !@hide_sidebar %>
          <div class="span2 offset1">
            <div id="side">
              <%= render partial: "layouts/sidebar" %>
              <%= yield :sidebar %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
      <div id="user_nav">
        <% if current_user.present? %>
          <div class="span10">Logged in as <%= current_user.email %></div>
          <div class="span10"><%= link_to "log_out", log_out_path %></div>
        <% else %>
          <div class="span10"><%= link_to "Sign_up", new_user_path %></div>
          <div class="span10"><%= link_to "log_in", log_in_path %></div>
        <% end %>
      </div>
  </body>
</html>
