<!DOCTYPE html>
<html>
  <head>
    <title>Bonediva</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    
    <div id="top_bar_wrap">
      <div id="top_bar">
        <p class="left">
          <a href="/">Home</a>
        </p>
        <p id="top-bar-actions">
          <a href="/users/new">Signup</a>
          <a href="/pictures/new">Add a Picture</a>
          <a href="/about">About</a>
        </p>
      </div><!--end #top_bar-->
    </div> 


    <div style="color:red"> 
      <div style="text-align:center" > 
        <%= yield :header %>
      </div>
    </div>

    <div>
    <% if !@hide_sidebar %>
      <div style="float: right;">
        <div id="sidebar">
          <%= yield :sidebar %>
        </div>
      </div>
    <% end %>
        


    <%= flash.each do |name, message| %>
      <div id="flash_<%= name %>"
        <%= message %>
      </div>
    <% end %>
    
  


  </body>
</html>
