<!DOCTYPE html>
<html>
  <head>
    <title>Bonediva</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div>
          <%=image_tag("testing.jpg", :alt => "rss feed", :class => "center_image")  %>
    </div>
    <div id="top_bar_wrap">
      <div id="top_bar">
        <p class="left">
          <a href="/">Home</a>
        </p>
        <p id="top-bar-actions">
          <% if !current_user.present? %>
            <a href="/sessions/new">Log_in</a>
            <a href="/users/new">Signup</a>
          <% else %>
            <a href="/pictures/new">Add a Picture</a>
            <a href="/about">About</a>
            <a href="/log_out">Sign Out</a>
          <% end %>
        </p>
      </div><!--end #top_bar-->
    </div> 


    <div style="color:red"> 
      <div style="text-align:center" > 
        <%= yield :header %>
      </div>
    </div>

    <% flash.each do |name, message| %>
      <div id="flash_<%= name %>">
        <%= message %>
      </div>
    <% end if !flash.blank? %>


  <div>
    <% if !@hide_sidebar %>

        <div id="sidebar">
          <%#= yield :sidebar %>
          <% if current_user.present? %>

            <div style="float:right;">
              Logout
            </div>
            </br>
            <div style="float: right;">
              Another cool link
            </div>

            <%=image_tag("default_pic.jpg", :alt => "rss feed" ,:class => "img")  %>

            <%#= link_to image_tag("default_pic.jpg") + "some extra text", "/", :class => "img", :remote => true %>

            <br/>
            <%= link_to current_user.username, user_path(@user) %>

          <% else %>
            <%= render :partial =>  "sessions/login" %>
          <% end %>
       
        </div>
      </div>
      <%= yield :sidebar %>
    <% end %>
    <%= yield %>
 </div>



  <div id="user_nav">
    <% if current_user.present? %>
        Logged in as <%= current_user.email %>
        <br/>
        this user: <%#=  %>
      <%= link_to "log_out", log_out_path %>
    <% else %>
      <%= link_to "Sign_up", new_user_path %>
      <%= link_to "log_in", log_in_path %>
    <% end %>
  </div>




    
  


  </body>
</html>
